[ol6_U5_base]
baseurl=http://dc1IFLP00019.tfayd.com/yum/OracleLinux/OL6/5/base/$basearch/
gpgcheck=1
enabled=1
proxy=_none_

[ol6_U5_patch]
baseurl=http://dc1IFLP00019.tfayd.com/yum/OracleLinux/OL6/5/patch/$basearch/
gpgcheck=1
enabled=1
proxy=_none_