#!/bin/bash
# Script Name          : - jboss-start.sh
# Script Purpose       : - Custom script written to start JBOSS.
#													1.This script will check if service is currently running and start the service only if JBOSS is not currently running on the instance. Else it will alter the user accordingly.
#                         2. The script can only be invoked by the anthillagent, webuser, devuser & root accounts to prevent accidental invocation by other user accounts.
# Author               : - Agasthi Kothurkar
# Creation Date        : - 20 August 2014
# Version              : - 1.0 ( Initial Version)
# Repository           : - http://github.mycompanydomain.com/my-user-id/OraclePlatformRepo/jboss-6-eap-scripts
# Release notes

    # FUNCTION TO DISPLAY CUSTOM MESSAGES IN DIFFERENT COLOURS #
    CECHO () {
      ARG1=$1
      ARG2=$2
    
    case "$1" in
              RED)
                    echo -e "\E[31m$2 \E[0m"
                    ;;
              GREEN)
                    echo -e "\E[32m$2 \E[0m"
                    ;;
              YELLOW)
                    echo -e "\E[33m$2 \E[0m"
                    ;;
              *)
                    echo -e "\E[33m$2 \E[0m"
                    ;;
            esac
    }


    function StartJBOSS () {
    
    sudo $JBOSS_HOME/bin/acs_jboss_start.sh

    }

    function Check_User (){
    
    local -r _User=`echo $USER`                   
  
        case "$_User" in
              root)
                    StartJBOSS
                    ;;
              webuser)
                    StartJBOSS
                    ;;
              devuser)
                    StartJBOSS
                    ;;
              anthillagent)
                    StartJBOSS
                    ;;
              {{ instance_owner }})
                    #CECHO GREEN "The $_User user account is allowed to execute the $_ScriptName script"
                    StartJBOSS
                    ;;                    
              *)
                    CECHO RED "The $_User user account is not allowed to execute the $_ScriptName script"
                    ;;
            esac
    
    }
    
    function main (){

		#Source the /etc/rc.d/init.d/functions
		. /etc/rc.d/init.d/functions
    
    # Source the JBOSS Environment Variables
    . /opt/www/appserver/jboss/bin/jboss-env.sh
    
    declare -r _ScriptName=`basename $0`
    
    Check_User
    
    }
    
    main "$@"
