<Directory "/var/www/site-content">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

<VirtualHost *:80>
    ServerAdmin web.ays@mycompanydomain.com
    DocumentRoot /var/www/site-content
    ServerName {{ ansible_fqdn }}
    ErrorLog "|/opt/www/webserver/2.4.16/bin/rotatelogs  logs/error_log-%Y-%m-%d-%H 86400"
    CustomLog "|/opt/www/webserver/2.4.16/bin/rotatelogs logs/access_log-%Y-%m-%d-%H 86400" common
</VirtualHost>